
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container" id="editar-tarefa">
        <h1>Editar Tarefa</h1>
        <form action="/editar-tarefa" method="post">
            <label for="titulo-atual">Título Atual da Tarefa:</label>
            <input type="text" id="titulo-atual" name="tituloAtual" th:value="${titulo}" readonly>
            <label for="titulo-editar">Novo Título da Tarefa:</label>
            <input type="text" id="titulo-editar" name="titulo" required>
            <button type="submit">Salvar Alterações</button>
        </form>
        <a href="/" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>

