<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<style>
   
    #excluir-tarefa {
        width: 80%;
        max-height: 80%;
        overflow-y: auto;
        text-align: center;
    }

    #excluir-tarefa p {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container" id="excluir-tarefa">
        <h1>Excluir Tarefa</h1>
        <p>Tem certeza que deseja excluir a tarefa: <span th:text="${titulo}"></span>?</p>
        <form action="/excluir-tarefa" method="post">
            <button class="btn-sim" type="submit">Sim</button>
            <a href="/" class="btn-nao">Não</a>
        </form>
    </div>
</body>
</html>
