
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        #visualizar-tarefa {
            width: 80%;
            max-height: 80%;
            overflow-y: auto;
            text-align: center;
        }

        #visualizar-tarefa p {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="visualizar-tarefa">
            <h1>Visualizar Tarefa</h1>
            <p>Título: <span th:text="${titulo}"></span></p>
            <a href="/" class="btn-voltar">Voltar</a>
        </div>
    </div>
</body>
</html>

